.container {
  display: flex;
  justify-content: center;
}
.dice {
  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-rows: repeat(3, 60px);
  justify-content: space-around;
  border-radius: 10px;
  background-color: antiquewhite;
  row-gap: 20px;
  width: 400px;
  padding: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dot {
  background-color: black;
  border-radius: 50%;
}
.dice:hover {
  opacity: 0.7;
  cursor: pointer;
}
