.grid-container {
  width: 500px;
  background-color: #431264;
  border: 3px solid pink;
  height: 400px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  grid-template-rows: 1fr 1fr;
}

.grid-item {
  color: #431264;
  font-size: 40px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
