.genders {
  display: block;
  margin-bottom: 10px;
}
.gendersContainer {
  margin-bottom: 30px;
}
.btnSave {
  background-color: #431264;
  border: none;
  padding: 2px 30px;
  font-size: 15px;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
}
.btnSave:hover {
  opacity: 0.7;
  cursor: pointer;
}
