table {
  border: 5px solid #431264;
}
th,
td {
  border-bottom: 5px solid #431264;
}
th {
  font-size: 30px;
  font-style: italic;
  color: #431264;
}
td {
  text-align: center;
}
img {
  width: 500px;
  height: auto;
}
.firstRow {
  background-color: #431264;
  color: white;
  font-family: sans-serif;
}
.secondRowText {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(20, 65, 202);
  text-decoration: underline;
}
